<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>
</head>

<br>
    <h1>Создание задачи</h1>

    <!--/*@thymesVar id="task" type="com.ertelecom.lesson_13.Task"*/-->
    <form th:action="@{/add_task_save}" th:object="${task}" method="POST">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{statusId}"/>
        <table>
            <tr>
                <td>Название задачи</td>
                <td><input th:field="*{taskName}"/></td>
            </tr>
            <tr>
                <td>Владелец</td>
                <td><input th:field="*{ownerName}"/></td>
            </tr>
            <tr>
                <td>Исполнитель</td>
                <td><input th:field="*{executorName}"/></td>
            </tr>
            <tr>
                <td>Информация</td>
                <td><textarea th:field="*{info}"></textarea></td>
            </tr>
            <tr colspan="2">
                <td><input type="submit" value="Создать" /></td>
            </tr>
        </table>
    </form>
    <br>
    <a th:href="@{/}">на Главную страницу</a>

</body>
</html>